header,
footer,
nav,
div,
p,
body {
  font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans",
    "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
}

header {
  background-color: rgb(63, 159, 217);
  height: 3em;
  display: flex;
  align-items: center;
}
header .brand {
  font-family: Vendana, Arial, sans-serif;

  font-family: Vendana, Arial, sans-serif;
  padding: 8px 20px 12px;
  margin-left: 5em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #f5f5f5;
  text-decoration: none;
}

header nav {
  margin: 0.7em 1em 0 0;
  margin-left: 10px;
  position: relative;
  padding-bottom: 1em;
  top: 0px;
  left: 0px;
  display: block;
  float: left;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}
header li {
  display: inline;
  padding: 0 1em;
  margin-right: 10px;
}
header li a:link {
  color: #f5f5f5;
  text-decoration: none;
}

/* Main structure */

div#container {
  position: relative;
}
#main {
  margin: 0 20em 0 16em;
}

aside {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19em;
}
#rail {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 19em;
}

/* other common classes */

.well,
.alert {
  margin-bottom: 2em;
  padding: 1em;
  margin-right: 4em;
}
.well {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.well h3 {
  background-color: #b6d1f2;
  padding: 1em;
}

.alert {
  background-color: #edebe1;
  border-color: #e0d9cb;
  color: #817b58;
}

.breadcrumb {
  padding: 0.5em 1em;

  list-style: none;
  background-color: #fbfbfb;
}

/* main styles */
#main {
  padding: 0.5em 0.75em;
}
#main h2 {
  padding-top: 1em;
  font-size: 1.5em;
}
#main h4 {
  padding-top: 1.5em;
  font-size: 1.2em;
}
#main th {
  text-align: left;
}
#main table {
  width: 100%;
}

#main #yourCompany {
  margin-bottom: 1.5em;
  font-size: 0.8em;
  float: left;
}
#main #client {
  font-size: 0.8em;
  float: right;
}
#main hr {
  clear: both;
}
.bigButton {
  margin-top: em;
  background-color: rgb(63, 159, 217);
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

/* left rail styles */

#rail nav {
}
#rail nav ul {
  list-style-type: none;
  font-size: 1.1em;
  justify-content: left;
}
#rail nav ul li {
  margin-bottom: 0.3em;
}

/* right aside styles */

ul#changeList,
ul#sellersList,
ul#messageList {
  background-color: white;
  list-style-type: none;
}
ul#changeList li {
  overflow: auto;
  padding-top: 1em;
}
ul#changeList li p {
  padding-top: 0.5em;
}
ul#changeList li span {
  float: left;
  display: block;
  min-width: 1.75em;
  text-align: right;
  font-size: 2em;
  padding: 0 1em 0 0;
  color: #616466;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

ul#sellersList li,
ul#messageList li {
  overflow: auto;
  padding: 1em 0.25em 0 0;
  font-size: 0.75em;
}
ul#sellersList img {
  float: left;
  display: block;
}
ul#sellersList p {
  padding-top: 1.5em;
}

ul#messageList img {
  padding-right: 0.5em;
}
#messageList li p {
  font-size: 0.9em;
  padding: 0.3em 0.25em;
}

th {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

th,
td {
  width: 150px;
  padding: 5px;
}
